<%= image_tag "smile.jpg", id: 'top' %>

<div class='ranking-wrappers'>

  <div class='ranking-wrapper'>
    <div id='ranking-title'>あなたの価値観とマッチする企業は...</div>
    <div class='ranking-left'>
      <div class='ranking-contents_title'><%= image_tag "one.png", id: 'rank_one'%>株式会社リブセンス</div>
      <div class='ranking-contents_description'>事業：人材紹介、ウェブメディア</div>
      <div class='ranking-contents_description'>マッチ度：91％</div>
      <div class='ranking-contents_description'>今すぐ応募すべきです！</div>
    </div>
    <div class='ranking-right'>
      <%= image_tag "livesense.png", class: 'company_img'%>
    </div>
  </div>

  <div class='ranking-wrapper'>
    <div class='ranking-left'>
      <div class='ranking-contents_title'><%= image_tag "two.png", id: 'rank_one'%>グーグル・ジャパン</div>
      <div class='ranking-contents_description'>事業：広告、ウェブメディア</div>
      <div class='ranking-contents_description'>マッチ度：82％</div>
      <div class='ranking-contents_description'>応募を検討してみて下さい。</div>
    </div>
    <div class='ranking-right'>
      <%= image_tag "google.png", class: 'company_img'%>
    </div>
  </div>

  <div class='ranking-wrapper'>
    <div class='ranking-left'>
      <div class='ranking-contents_title'><%= image_tag "three.png", id: 'rank_one'%>ソフトバンクグループ</div>
      <div class='ranking-contents_description'>事業：情報通信</div>
      <div class='ranking-contents_description'>マッチ度：73％</div>
      <div class='ranking-contents_description'>中の人に会って話を聞いてみては？</div>
    </div>
    <div class='ranking-right'>
      <%= image_tag "softbank.gif", class: 'company_img'%>
    </div>
  </div>

</div>
