<%= image_tag "smile.jpg", id: 'top' %>

<div class='questions-wrapper'>

  <div id='question-title'>あなたの価値観に合う企業理念はどれ？</div>
  <% 3.times.each do |cnt| %>
    <div class='question-wrapper'>
      <div id=<%="questions#{cnt+1}"%> class='questions' onclick='change_page(event, <%=cnt+1%>)'>機会によって自らを創出すaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaる</div>
    </div>
  <% end %>
  <div class='question-wrapper'>
    <%= link_to results_path do %>
      <div id=<%="questions4"%> class='questions' >機会によって自らを創出する</div>
    <% end %>
  </div>
</div>